@font-face {
  font-family: "flaticon_flexus";
  src: url("/src/assets/icons/flaticon_flexus.woff2?b5a84096f8088fc3763fa163afeebf04")
      format("woff2"),
    url("/src/assets/icons/flaticon_flexus.woff?b5a84096f8088fc3763fa163afeebf04")
      format("woff"),
    url("/src/assets/icons/flaticon_flexus.eot?b5a84096f8088fc3763fa163afeebf04#iefix")
      format("embedded-opentype"),
    url("/src/assets/icons/flaticon_flexus.ttf?b5a84096f8088fc3763fa163afeebf04")
      format("truetype"),
    url("/src/assets/icons/flaticon_flexus.svg?b5a84096f8088fc3763fa163afeebf04#flaticon_flexus")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon_flexus !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-export:before {
  content: "\f101";
}
.flaticon-export-1:before {
  content: "\f102";
}
.flaticon-edit-text:before {
  content: "\f103";
}
.flaticon-edit:before {
  content: "\f104";
}
.flaticon-export-2:before {
  content: "\f105";
}
.flaticon-attention:before {
  content: "\f106";
}
.flaticon-exclamation:before {
  content: "\f107";
}
.flaticon-trash:before {
  content: "\f108";
}
.flaticon-x:before {
  content: "\f109";
}
.flaticon-chevron-down:before {
  content: "\f10a";
}
.flaticon-down-arrow:before {
  content: "\f10b";
}
.flaticon-check:before {
  content: "\f10c";
}
.flaticon-access-granted:before {
  content: "\f10d";
}
.flaticon-permission:before {
  content: "\f10e";
}
.flaticon-manager:before {
  content: "\f10f";
}
.flaticon-user-avatar:before {
  content: "\f110";
}
.flaticon-like:before {
  content: "\f111";
}
.flaticon-check-1:before {
  content: "\f112";
}
.flaticon-pencil:before {
  content: "\f113";
}
.flaticon-user:before {
  content: "\f114";
}
.flaticon-group:before {
  content: "\f115";
}
