$font-primary: "Montserrat";
$font-secondary: "Aboreto";

$color-brand: #315d68;
$color-secondary: #d4cdb3;
$color-background: #efece7;
$color-text: #363434;
$color-white: #ffffff;
$color-black: #0a0600;
$color-gray: #363434;
$color-gray-light: #999;
$color-brown: #987b59;
$color-red: #a41313;
